{% extends 'layout/layout.twig' %}

{% block subtitle %}Resources{% endblock %}

{% block summary %}IT Development Resources for HTML, CSS, JavaScript, PHP & SQL{% endblock %}

{% block main %}
    <main>
        {% for category, resourceCategory in resources %}
        <section>
            <h2>{{ category }}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for resource in resourceCategory %}
                    <tr>
                        <td>
                            <a class="button-blue" href="https://{{ resource.link }}" title="https://{{ resource.link }}">
                                {{ resource.name }}
                            </a>
                        </td>
                        <td>{{ resource.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </tfoot>
            </table>
        </section>
        {% endfor %}
    </main>
{% endblock %}
