{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
<input id="menu-radio2" class="menu-radio2" type="radio" name="menu">

<nav class="menu">
    <label class="button-red" for="menu-radio1" title="Show the Resources">
        <i class="fas fa-box-open color-red-into"></i>
        <span class="color-red-into">Resources</span>
    </label>
    <label class="button-blue" for="menu-radio2" title="Show the Users">
        <i class="fas fa-users color-blue-into"></i>
        <span class="color-blue-into">Users</span>
    </label>
</nav>

<main class="menu-relay">
    <section class="menu-target1">
        <h2><i class="fas fa-box-open"></i> Resources</h2>

        <a class="btn-green btn-lg" href="{{ url('resources!create') }}" title="Clic to create a new resource">New Resource</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Name / Category</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in allResources %}
                <tr>
                    <td>
                        <a href="https://{{ resource.link }}" title="https://{{ resource.link }}">
                            {{ resource.name }}
                            <hr>{{ resource.category }}
                        </a>
                    </td>
                    <td>
                        <a href="https://{{ resource.link }}" title="https://{{ resource.link }}">
                            {{ resource.description }}
                        </a>
                    </td>
                    <td>
                        <a class="btn-blue" href="{{ url('resources!update', {'id': resource.id}) }}"
                            title="Clic to update this resource">
                            <i class="fas fa-pen-square fa-fw fa-lg"></i>
                        </a>
                        <a class="btn-red" href="{{ url('resources!delete', {'id': resource.id}) }}"
                            title="Clic to delete this resource">
                            <i class="fas fa-times-circle fa-fw fa-lg"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="menu-target2">
        <h2><i class="fas fa-users"></i> Users</h2>

        <a class="btn-green btn-lg" href="{{ url('users!create') }}" title="Clic to create a new user">New User</a>

        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in allUsers %}
                <tr>
                    <td>
                        <figure>
                            <img class="bord-purple" src="img/user/{{ user.image }}"
                                alt="Screenshot of {{ user.name }}">
                            <figcaption>{{ user.name }}</figcaption>
                        </figure>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn-orange" href="{{ url('users!logout') }}">
                            <i class="fas fa-sign-out-alt fa-fw fa-lg"></i>
                        </a>
                        <a class="btn-blue" href="{{ url('users!update', {'id': user.id}) }}"
                            title="Clic to update this user">
                            <i class="fas fa-pen-square fa-fw fa-lg"></i>
                        </a>
                        <a class="btn-red" href="{{ url('users!delete', {'id': user.id}) }}"
                            title="Clic to delete this user">
                            <i class="fas fa-times-circle fa-fw fa-lg"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
