{% extends 'layout/layout.twig' %}

{% block subtitle %}Administration{% endblock %}

{% block summary %}{% endblock %}

{% block main %}
<input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
<input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
<input id="menu-radio3" class="menu-radio3" type="radio" name="menu">
<input id="menu-radio4" class="menu-radio4" type="radio" name="menu">

<nav class="menu">
    <label class="button-red" for="menu-radio1" title="Show the Courses">
        <i class="fas fa-chalkboard-teacher color-red-into"></i>
        <span class="color-red-into">Courses</span>
    </label>
    <label class="button-green" for="menu-radio2" title="Show the Exercises">
        <i class="fas fa-laptop-code color-green-into"></i>
        <span class="color-green-into">Exercises</span>
    </label>
    <label class="button-blue" for="menu-radio3" title="Show the Resources">
        <i class="fas fa-box-open color-blue-into"></i>
        <span class="color-blue-into">Resources</span>
    </label>
    <label class="button-purple" for="menu-radio4" title="Show the Users">
        <i class="fas fa-users color-purple-into"></i>
        <span class="color-purple-into">Users</span>
    </label>
</nav>

<main class="menu-relay">
    <section class="menu-target1">
        <h2><i class="fas fa-chalkboard-teacher"></i> Courses</h2>

        <a class="btn-green btn-lg" href="{{ url('courses!create') }}" title="Clic to create a new course">New Course</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for course in allCourses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.content }}</td>
                    <td>
                        <a class="btn-blue" href="{{ url('courses!update', {'id': course.id}) }}"
                            title="Clic to update this course">
                            <i class="fas fa-pen-square fa-fw fa-lg"></i>
                        </a>
                        <a class="btn-red" href="{{ url('courses!delete', {'id': course.id}) }}"
                            title="Clic to update this course">
                            <i class="fas fa-times-circle fa-fw fa-lg"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </section>

    <section class="menu-target2">
        <h2><i class="fas fa-laptop-code"></i> Exercises</h2>

        <a class="btn-green btn-lg" href="{{ url('exercises!create') }}" title="Clic to create a new exercise">New Exercise</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in allExercises %}
                <tr>
                    <td>{{ exercise.name }}</td>
                    <td>{{ exercise.content }}</td>
                    <td>
                        <a class="btn-blue" href="{{ url('exercises!update', {'id': exercise.id}) }}"
                            title="Clic to update this exercise">
                            <i class="fas fa-pen-square fa-fw fa-lg"></i>
                        </a>
                        <a class="btn-red" href="{{ url('exercises!delete', {'id': exercise.id}) }}"
                            title="Clic to delete this exercise">
                            <i class="fas fa-times-circle fa-fw fa-lg"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </section>

    <section class="menu-target3">
        <h2><i class="fas fa-box-open"></i> Resources</h2>

        <a class="btn-green btn-lg" href="{{ url('resources!create') }}" title="Clic to create a new resource">New Resource</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Name / Category</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in allResources %}
                <tr>
                    <td>
                        <a href="https://{{ resource.link }}" title="https://{{ resource.link }}">
                            {{ resource.name }}
                            <hr>{{ resource.category }}
                        </a>
                    </td>
                    <td>
                        <a href="https://{{ resource.link }}" title="https://{{ resource.link }}">
                            {{ resource.description }}
                        </a>
                    </td>
                    <td>
                        <a class="btn-blue" href="{{ url('resources!update', {'id': resource.id}) }}"
                            title="Clic to update this resource">
                            <i class="fas fa-pen-square fa-fw fa-lg"></i>
                        </a>
                        <a class="btn-red" href="{{ url('resources!delete', {'id': resource.id}) }}"
                            title="Clic to delete this resource">
                            <i class="fas fa-times-circle fa-fw fa-lg"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </section>

    <section class="menu-target4">
        <h2><i class="fas fa-users"></i> Users</h2>

        <a class="btn-green btn-lg" href="{{ url('users!create') }}" title="Clic to create a new user">New User</a>

        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in allUsers %}
                <tr>
                    <td>
                        <figure>
                            <img class="bord-purple" src="img/user/{{ user.image }}"
                                alt="Screenshot of {{ user.name }}">
                            <figcaption>{{ user.name }}</figcaption>
                        </figure>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn-orange" href="{{ url('users!logout') }}">
                            <i class="fas fa-sign-out-alt fa-fw fa-lg"></i>
                        </a>
                        <a class="btn-blue" href="{{ url('users!update', {'id': user.id}) }}"
                            title="Clic to update this user">
                            <i class="fas fa-pen-square fa-fw fa-lg"></i>
                        </a>
                        <a class="btn-red" href="{{ url('users!delete', {'id': user.id}) }}"
                            title="Clic to delete this user">
                            <i class="fas fa-times-circle fa-fw fa-lg"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </section>
</main>
{% endblock %}
