<section class="menu-target1">
    <h2>
        <i class="fas fa-box-open"></i> 
        Ressources
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('resource!create') }}" 
        title="Cliquer pour créer une nouvelle ressource">
        Nouvelle Ressource
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nom
                    <hr>
                    Categorie
                </th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            {% for resource in allResources %}
            <tr>
                <td>
                    <a class="button-primary" 
                        href="https://{{ resource.link }}" 
                        title="https://{{ resource.link }}">
                        {{ resource.name }}
                    </a>
                    <br>
                    {{ resource.category }}
                </td>
                <td>
                    {{ resource.description }}
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('resource!update', {'id': resource.id}) }}"
                        title="Cliquer pour éditer cette ressource">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('resource!delete', {'id': resource.id}) }}"
                        title="Cliquer pour supprimer cette ressource">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</section>
